.DS_Store
.vagrant
Vagrantfile

/vendor
/node_modules

/public/storage
Homestead.yaml
Homestead.json

/workbench
_ide_helper.php
.env
.env.pass

tests/_output/*
tests/_support/_generated
/nbproject

public/img/user
public/img/

/.buildpath
/.project
/.settings
/.idea

/storage/framework/temp/
